<ion-header>
  <button ion-button round (click)="closeModal()">Iptal</button>
  <ion-navbar no-border-bottom>
    <ion-title>Searchbar</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Ara"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>

  </ion-list>

</ion-content>


<ion-footer>

  <ion-toolbar>
    <button ion-button color="light">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <button ion-button color="light">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <button ion-button color="light">Light</button>
    <button ion-button color="light">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <button ion-button color="light">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-toolbar>

</ion-footer>
