<ion-card class="card-box1">
  <ion-row class="row-border">
    <ion-col col-4 class="border-right">
      <ion-label>
        <strong>İşlem Başlangıç Tarihi:</strong>
      </ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-label>{{sonIslem.basTar | FormatDate}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row-border">
    <ion-col col-4 class="border-right">
      <ion-label>
        <strong>İşlem Bitiş Tarihi:</strong>
      </ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-label>{{sonIslem.bitTar | FormatDate}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row-border" *ngIf="sonIslem.basTar != null && sonIslem.bitTar == null">
    <ion-col col-4 class="border-right">
      <ion-label>
        <strong>Bekleme Nedeni:</strong>
      </ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-select [(ngModel)]="sonIslem.beklemeNeden" interface="popover" (ionChange)="checkStatus()">
        <ion-option value="" selected="true"></ion-option>
        <ion-option value="SERVIS">Servis</ion-option>
        <ion-option value="MUSTERI">Müşteri</ion-option>
        <ion-option value="BAYI">Bayi</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="row-border" *ngIf="sonIslem.basTar  != null && sonIslem.bitTar == null && sonIslem.beklemeNeden =='SERVIS'">
    <ion-col col-4 class="border-right">
      <ion-label>
        <strong>Bekleme Kaynağı:</strong>
      </ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-select [(ngModel)]="sonIslem.bekleKaynak" interface="popover" (ionChange)="checkStatus()" [disabled]=isHizmetDisabled()>
        <ion-option value="" selected="true"></ion-option>
        <ion-option value="NEDEN1">Yedek parça bekleniyor.</ion-option>

      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="row-border" *ngIf="sonIslem.basTar  != null && sonIslem.bitTar == null && sonIslem.beklemeNeden =='MUSTERI'">
    <ion-col col-4>
      <ion-label>
        <strong>Bekleme Kaynağı:</strong>
      </ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-select [(ngModel)]="sonIslem.bekleKaynak" interface="popover" (ionChange)="checkStatus()" [disabled]=isHizmetDisabled()>
        <ion-option value="" selected="true"></ion-option>
        <ion-option value="NEDEN1">Müşteri Uygun Değil</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="row-border" *ngIf="sonIslem.basTar  != null && sonIslem.bitTar == null && sonIslem.beklemeNeden == 'BAYI'">
    <ion-col col-4>
      <ion-label>
        <strong>Bekleme Kaynağı:</strong>
      </ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-select [(ngModel)]="sonIslem.bekleKaynak" interface="popover" (ionChange)="checkStatus()" [disabled]=isHizmetDisabled()>
        <ion-option value="" selected="true"></ion-option>
        <ion-option value="NEDEN1">Tesisat Kaynaklı</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12 *ngIf="buttonStatus == 'BASLA'">
      <button ion-button primary round full (click)="islemBaslat()" [disabled]=isHizmetDisabled()>
        <span class="icon-right">
          <i class="fas fa-play"></i>
        </span> İşlem Başlat
      </button>
    </ion-col>

    <ion-col col-12 *ngIf="buttonStatus == 'BEKLE'">
      <button ion-button primary round full (click)="islemBeklet()" [disabled]=isHizmetDisabled()>
        <span class="icon-right">
          <i class="fas fa-play"></i>
        </span> Bekleme Başlat
      </button>
    </ion-col>

    <ion-col col-12 *ngIf="buttonStatus == 'BITIR'">
      <button ion-button primary round full (click)="islemBitir()" [disabled]=isHizmetDisabled()>
        <span class="icon-right">
          <i class="fas fa-times"></i>
        </span> Bitir
      </button>
    </ion-col>
  </ion-row>
</ion-card>