<ion-list inset>

  <ion-item>
    <ion-label>İşlem Başlangıç Tarihi</ion-label>
    <ion-label>{{sonIslem.basTar}}</ion-label>
  </ion-item>


  <ion-item>
    <ion-label>İşlem Bitiş Tarihi</ion-label>
    <ion-label>{{sonIslem.bitTar}}</ion-label>
  </ion-item>

  <ion-item *ngIf="sonIslem.basTar != null && sonIslem.bitTar == null">
    <ion-label>Bekleme Nedeni</ion-label>
    <ion-select [(ngModel)]="sonIslem.beklemeNeden" interface="action-sheet" (ionChange)="checkStatus()">
      <ion-option value="" selected="true"></ion-option>
      <ion-option value="SERVIS">Servis</ion-option>
      <ion-option value="MUSTERI">Müşteri</ion-option>
      <ion-option value="BAYI">Bayi</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="sonIslem.basTar  != null && sonIslem.bitTar == null && sonIslem.beklemeNeden =='SERVIS'">
    <ion-label>Bekleme Kaynağı</ion-label>
    <ion-select [(ngModel)]="sonIslem.bekleKaynak" interface="action-sheet" (ionChange)="checkStatus()"
                [disabled]=isHizmetDisabled()>
      <ion-option value="" selected="true"></ion-option>
      <ion-option value="NEDEN1">Yedek parça bekleniyor.</ion-option>

    </ion-select>
  </ion-item>

  <ion-item *ngIf="sonIslem.basTar  != null && sonIslem.bitTar == null && sonIslem.beklemeNeden =='MUSTERI'">
    <ion-label>Bekleme Kaynağı</ion-label>
    <ion-select [(ngModel)]="sonIslem.bekleKaynak" interface="action-sheet" (ionChange)="checkStatus()"
                [disabled]=isHizmetDisabled()>
      <ion-option value="" selected="true"></ion-option>
      <ion-option value="NEDEN1">Müşteri Uygun Değil</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="sonIslem.basTar  != null && sonIslem.bitTar == null && sonIslem.beklemeNeden == 'BAYI'">
    <ion-label>Bekleme Kaynağı</ion-label>
    <ion-select [(ngModel)]="sonIslem.bekleKaynak" interface="action-sheet" (ionChange)="checkStatus()"
                [disabled]=isHizmetDisabled()>
      <ion-option value="" selected="true"></ion-option>
      <ion-option value="NEDEN1">Tesisat Kaynaklı</ion-option>
    </ion-select>
  </ion-item>


  <ion-item *ngIf="buttonStatus == 'BASLA'">
    <button ion-button primary round full (click)="islemBaslat()" [disabled]=isHizmetDisabled()>İşlem Başlat
    </button>
  </ion-item>

  <ion-item *ngIf="buttonStatus == 'BEKLE'">
    <button ion-button primary round full (click)="islemBeklet()" [disabled]=isHizmetDisabled()>Bekleme Başlat
    </button>
  </ion-item>

  <ion-item *ngIf="buttonStatus == 'BITIR'">
    <button ion-button primary round full (click)="islemBitir()" [disabled]=isHizmetDisabled()>Bitir
    </button>
  </ion-item>


</ion-list>
