page-anasayfa {

  .circle{
    border-radius: 50%;
    width: 70%;
    height: 70%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}
