<ion-list inset>
  <ion-item>
    <ion-label color="primary" floating>Müşteri</ion-label>
    <ion-input [(ngModel)]="hizmet.firmaUnvani" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Ev Telefonu</ion-label>
    <ion-input [(ngModel)]="hizmet.evTel" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>İş Telefonu</ion-label>
    <ion-input [(ngModel)]="hizmet.isTel" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Cep Telefonu</ion-label>
    <ion-input [(ngModel)]="hizmet.gsmNo" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>E-Posta</ion-label>
    <ion-input [(ngModel)]="hizmet.eposta" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Şehir</ion-label>
    <ion-select [(ngModel)]="hizmet.sehirKod" (ionChange)="getIlceList(sehir)">
      <ion-option *ngFor="let sehir of sehirler" [value]="sehir.sehirKodu">
        {{sehir.sehirKodu}} - {{sehir.sehirAdi}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>İlçe</ion-label>
    <ion-select [(ngModel)]="hizmet.ilceKod" (ionChange)="getMahalleList(ilce)">
      <ion-option *ngFor="let ilce of ilceler" [value]="ilce.ilceKodu">
        {{ilce.ilceKodu}} - {{ilce.ilceAdi}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Semt/Köy</ion-label>
    <ion-input [(ngModel)]="hizmet.semt"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Mahalle</ion-label>
    <ion-select [(ngModel)]="hizmet.mahalle">
      <ion-option *ngFor="let mahalle of mahalleler" [value]="mahalle.mahalleKodu">{{mahalle.mahalleKodu}} -
        {{mahalle.mahalleAdi}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Cadde</ion-label>
    <ion-input [(ngModel)]="hizmet.cadde"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Sokak</ion-label>
    <ion-input [(ngModel)]="hizmet.sokak"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Apartman/Site</ion-label>
    <ion-input [(ngModel)]="hizmet.apartman"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Apartman No</ion-label>
    <ion-input [(ngModel)]="hizmet.apartmanNo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Blok</ion-label>
    <ion-input [(ngModel)]="hizmet.blok"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Daire No</ion-label>
    <ion-input [(ngModel)]="hizmet.daireNo"></ion-input>
  </ion-item>
</ion-list>
