<!-- Generated template for the MusteriBilgileriComponent component -->

<ion-list inset>
    <ion-item>
      <ion-label color="primary" floating>Müşteri</ion-label>
      <ion-input value="John Doe" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Ev Telefonu</ion-label>
      <ion-input value="05311211111" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>İş Telefonu</ion-label>
      <ion-input value="Arıza" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Cep Telefonu</ion-label>
      <ion-input value="Klima" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>E-Posta</ion-label>
      <ion-input value="İlk Çalıştırma" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Şehir</ion-label>
      <ion-input value="89087" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>İlçe</ion-label>
      <ion-input value="KAPALI" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Semt/Köy</ion-label>
      <ion-input value="12345" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Mahalle</ion-label>
      <ion-input value="Doğan Mahallesi" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Cadde</ion-label>
      <ion-input value="Güneş Caddesi" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Sokak</ion-label>
      <ion-input value="Deneme Sokak" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Apartman/Site</ion-label>
      <ion-input value="Doğan Apt." readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Blok</ion-label>
      <ion-input value="D" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Daire No</ion-label>
      <ion-input value=" " readonly></ion-input>
    </ion-item>
  </ion-list>
