<ion-grid>
  <ion-row>
    <ion-col col-12 col-sm>
      <button ion-button primary round full (click)="hizmetDetayaGit()">
        <ion-icon style="width: 20%" name="add-circle"></ion-icon>
        <ion-label style="width: 80%">Yeni</ion-label>
      </button>
    </ion-col>

    <ion-col col-12 col-sm>
      <button ion-button primary round full>
        <ion-icon style="width: 20%" name="basket"></ion-icon>
        <ion-label style="width: 80%">Sipariş Oluştur</ion-label>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col col-12 col-sm>
      <ion-label>İşlem Tipi</ion-label>
    </ion-col>
    <ion-col col-12 col-sm>
      <ion-label>İşlem Kodu</ion-label>
    </ion-col>
    <ion-col col-12 col-sm>
      <ion-label>Miktar</ion-label>
    </ion-col>
    <ion-col col-12 col-sm>
      <ion-label>Tutar</ion-label>
    </ion-col>
    <ion-col col-12 col-sm>

    </ion-col>
  </ion-row>

  <ion-row *ngFor="let detay of detayList">
    <ion-col col-12 col-sm>
      <ion-label>{{detay.mlzIsc}}</ion-label>
    </ion-col>
    <ion-col col-12 col-sm>
      <ion-label>{{detay.mlzIscKod}} - {{detay.aciklama}}</ion-label>
    </ion-col>
    <ion-col col-12 col-sm>
      <ion-label>{{detay.miktar}}</ion-label>
    </ion-col>
    <ion-col col-12 col-sm>
      <ion-label>{{detay.tutar}}</ion-label>
    </ion-col>
    <ion-col col-12 col-sm>
      <button ion-button icon-only (click)="update(detay)">
        <ion-icon name="create" small></ion-icon>
      </button>
      <button ion-button icon-only (click)="delete(detay)">
        <ion-icon name="close-circle" small></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-list>
  <button ion-button (click)="toggleDetails()" full color="light" round>
    <ion-icon name='arrow-down'></ion-icon>
    Kapatma İşlemleri
  </button>
  <div id="divKapatmaIslemleri" *ngIf="showDetails == -1">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-6 col-sm>
          <button ion-button round color="secondary" full>Kapat</button>
        </ion-col>
        <ion-col col-12 col-md-6 col-sm>
          <button ion-button round color="secondary"  full>Iptal</button>
        </ion-col>
        <ion-col col-12 col-md-6 col-sm>
          <button ion-button round color="secondary" (click)="print()" full>Yazdır</button>
        </ion-col>
        <ion-col col-12 col-md-6 col-sm>
          <button ion-button round color="secondary" full>Sil</button>
        </ion-col>
      </ion-row>


    </ion-grid>

    <ion-list inset>

      <ion-item>
        <ion-label color="primary">Açıklama</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>


      <ion-item>
        <ion-label color="primary">Kapatma Şekli</ion-label>
        <ion-select>
          <ion-option value="NORMAL">Normal Kapatma</ion-option>
          <ion-option value="MESGULIYET">Meşguliyet Kapatma</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Ödeme Tipi</ion-label>
        <ion-select po>
          <ion-option value="NAKIT">Nakit</ion-option>
          <ion-option value="KREDIKARTI">Kredi Kartı</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Çözüm Kodu</ion-label>

        <ion-select [(ngModel)]="hizmet.cozumKodu">
          <ion-option *ngFor="let cozum of cozumKoduList" [value]="cozum.kod">{{cozum.ad}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>
</ion-list>
