<ion-header>
  <button ion-button round (click)="closeModal()">Iptal</button>
  <ion-navbar no-border-bottom>
    <ion-title>Ürün Işçilik Ara</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Ara" [(ngModel)]="searchText" (ionInput)="fetchList()"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list radio-group [(ngModel)]="selectedItem">
    <ion-item *ngFor="let item of list">
      <ion-label>{{item.key}} - {{item.value}}</ion-label>
      <ion-radio (ionSelect)="ionChange(item)"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer>

  <ion-toolbar>
    <button ion-button color="light" (click)="fetchList('FIRST')">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <button ion-button color="light" (click)="fetchList('PREVIOUS')">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <ion-item>
      <ion-select [(ngModel)]="pageable.pageSize" (ionChange)="fetchList('PAGE_NO')" interface="popover">
        <ion-option value="10" selected="true">10</ion-option>
        <ion-option value="20">20</ion-option>
        <ion-option value="50">50</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button color="light" (click)="fetchList('NEXT')">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <button ion-button color="light" (click)="fetchList('LAST')">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-toolbar>

</ion-footer>
