<ion-header>
  <button ion-button round (click)="closeModal()">Iptal</button>
  <ion-navbar no-border-bottom>
    <ion-title>Ürün Işçilik Ara</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Ara" [(ngModel)]="searchText" (ionInput)="fetchList()"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list radio-group [(ngModel)]="selectedItem">
    <ion-item *ngFor="let item of list">
      <ion-label>{{item.key}} - {{item.value}}</ion-label>
      <ion-radio (ionSelect)="ionChange(item)"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer>


  <ion-row>

    <ion-col col-4>
      <ion-row>
        <ion-col col-6>
          <button ion-button color="light" (click)="fetchList('FIRST')">
            <ion-label><i class="fas fa-angle-double-left"></i></ion-label>
          </button>
        </ion-col>

        <ion-col col-6>
          <button ion-button color="light" (click)="fetchList('PREVIOUS')">
            <ion-label><i class="fas fa-angle-left"></i></ion-label>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-4>
      <ion-item>
        <ion-select [(ngModel)]="pageable.pageSize" (ionChange)="fetchList('PAGE_NO')" interface="popover">
          <ion-option value="10" selected="true">10</ion-option>
          <ion-option value="20">20</ion-option>
          <ion-option value="50">50</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col col-4>
      <ion-row>

        <ion-col col-6>
          <button ion-button color="light" (click)="fetchList('NEXT')">
            <ion-label><i class="fas fa-angle-right"></i></ion-label>
          </button>
        </ion-col>

        <ion-col col-6>
          <button ion-button color="light" (click)="fetchList('LAST')">
            <ion-label><i class="fas fa-angle-double-right"></i></ion-label>
          </button>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>

</ion-footer>
