<!-- Generated template for the HizmetBilgileriComponent component -->
<ion-list inset>
  <ion-item>
    <ion-label style="width: 30%" color="primary">Randevu Tarihi</ion-label>
    <ion-input style="width: 70%" [(ngModel)]="hizmet.randevuTarihi" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Çağrı Açılış Tarihi</ion-label>
    <ion-input [(ngModel)]="hizmet.cagriTarihi" [disabled]="hizmet.durum != 'ACIK'" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Hizmet Tipi</ion-label>
    <ion-input [(ngModel)]="hizmet.hizmetTipiAdi" [disabled]="hizmet.durum != 'ACIK'" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Ürün Ana Grubu</ion-label>
    <ion-input [(ngModel)]="hizmet.mamAnaGrpAdi" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Başvuru Nedeni</ion-label>
    <ion-input [(ngModel)]="hizmet.basvuruNedenAdi" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Hizmet Formu No</ion-label>
    <ion-input [(ngModel)]="hizmet.seqNo" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Durum</ion-label>
    <ion-input [(ngModel)]="hizmet.durum" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Çağrı No</ion-label>
    <ion-input [(ngModel)]="hizmet.cmNo" readonly></ion-input>
  </ion-item>

</ion-list>
