<ion-row>
  <ion-col col col-4 col-md-3>
    <ion-label>
      <strong>Randevu Tarihi:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-9>
    <ion-label class="text-input">{{hizmet.randevuTarihi | FormatDate}}</ion-label>
  </ion-col>

  <ion-col col col-4 col-md-3>
    <ion-label>
      <strong>Çağrı Açılış Tarihi:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-9>
    <ion-label class="text-input">
      {{hizmet.cagriTarihi | FormatDate}}
    </ion-label>
  </ion-col>

  <ion-col col col-4 col-md-3>
    <ion-label>
      <strong>Hizmet Tipi:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-9>
    <ion-input [(ngModel)]="hizmet.hizmetTipiAdi" [disabled]="hizmet.durum != 'ACIK'" readonly></ion-input>
  </ion-col>

  <ion-col col col-4 col-md-3>
    <ion-label>
      <strong>Ürün Ana Grubu:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-9>
    <ion-input [(ngModel)]="hizmet.mamAnaGrpAdi" readonly></ion-input>
  </ion-col>

  <ion-col col col-4 col-md-3>
    <ion-label>
      <strong>Başvuru Neden:</strong>i</ion-label>
  </ion-col>
  <ion-col col-8 col-md-9>
    <ion-input [(ngModel)]="hizmet.basvuruNedenAdi" readonly></ion-input>
  </ion-col>

  <ion-col col col-4 col-md-3>
    <ion-label>
      <strong>Hizmet Formu No:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-9>
    <ion-input [(ngModel)]="hizmet.seqNo" readonly></ion-input>
  </ion-col>

  <ion-col col col-4 col-md-3>
    <ion-label>
      <strong>Durum:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-9>
    <ion-input [(ngModel)]="hizmet.durum" readonly></ion-input>
  </ion-col>

  <ion-col col col-4 col-md-3>
    <ion-label>
      <strong>Çağrı No:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-9>
    <ion-input [(ngModel)]="hizmet.cmNo" readonly></ion-input>
  </ion-col>

</ion-row>