<!-- Generated template for the HizmetBilgileriComponent component -->
<ion-list inset>
    <ion-item>
      <ion-label color="primary" floating>Randevu Tarihi</ion-label>
      <ion-input value="01.01.1900" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Çağrı Açılış Tarihi</ion-label>
      <ion-input value="01.01.1900" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Hizmet Tipi</ion-label>
      <ion-input value="Arıza" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Ürün Ana Grubu</ion-label>
      <ion-input value="Klima" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Başvuru Nedeni</ion-label>
      <ion-input value="İlk Çalıştırma" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Hizmet Formu No</ion-label>
      <ion-input value="89087" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Durum</ion-label>
      <ion-input value="KAPALI" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Çağrı No</ion-label>
      <ion-input value="12345" readonly></ion-input>
    </ion-item>

  </ion-list>