<ion-header>
  <ion-navbar>
    <ion-row class="modal-title">
      <ion-col col-11 col-md-11>
        <ion-title>Anket</ion-title>
      </ion-col>
      <ion-col col-1 col-md-1>
        <ion-icon name="close" (click)="closeModal()" class="pull-right close-icon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content class="content" [ngStyle]="{ 'background-image': 'url(' + backGroundImage + ')' }">

  <ion-row *ngFor="let item of qAList">
    <ion-col col-4>
      <ion-label>
        <strong>{{item.soru.serSoruTnm.soruText}}:</strong>
      </ion-label>
    </ion-col>
    <ion-col col-8>
      <ion-input [(ngModel)]="item.cevap.cevapText" [disabled]="isHizmetDisabled"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6>
      <button ion-button round (click)="kaydet()" full [disabled]="isHizmetDisabled">
        <span class="icon-right">
          <i class="fas fa-save"></i>
        </span>Kaydet
      </button>
    </ion-col>

  </ion-row>

</ion-content>
<ion-footer>
</ion-footer>