
@import "common";

.green-theme{

       .login-content {

        .submit-btn {
            background: #34b652;
           }

           input{
            border: 1px solid #34b652;
            color:#fff;
           }

           input::placeholder{
            color:#fff;
        }

        .password-icon{
            color:#fff;
        }

        .logo ion-icon{
            color:#fff;
        }
    }

}
