
@import "common";
$color-dark: #00684e;
$color-main: rgba(52, 140, 76, 0.77);
$color-light: #00684e;
$color-white: #ffffff;
$color-red:rgba(204, 0, 0, 0.80);
$color-green: #41a85f;
$color-gray: #f1f1f1;
$color-button:#2b8145;
$color-input:rgba(112, 183, 134, 0.58);
$color-border-input:#00684e;
$color-label:#001e33;
$color-item:rgba(0, 104, 78, 0);
$color-row-border:#086b3a;
$color-downloaded:#24af4e;
$color-header:#014b26;
$color-card-box-dark:rgba(1, 75, 38, 0.75);



.green-theme {

  .spinner {
    background:$color-main;
  }

  //*------- START:HEADER -----*//
  .header {

    button.disable-hover.bar-button.bar-button-ios.bar-button-default.bar-button-default-ios {
      color: $color-white;
    }

    .toolbar-background-md, .toolbar-background-ios {
      border-color: $color-button;
      background: $color-header;
    }

    .modal-title .toolbar-title-ios, .modal-title .close-icon, .modal-title .toolbar-title-md {
      color: $color-white;
    }

    .header-title {
      .toolbar-title.toolbar-title-md {
        color: $color-red;
      }

      .toolbar-title-ios {
        color: $color-dark;

      }
    }

    .tabs-ios-primary .tabbar, .tabs-md-primary .tabbar {
      border-color: $color-dark;
      background-color: $color-dark;
    }

    .toolbar-title-md, .toolbar-title-ios {
      color: $color-dark;

    }

    .header-title .toolbar-title-ios {
      color: $color-dark;
    }

  }

  .ion-page {
    .header-title .toolbar-title-ios {
      color: $color-dark;
    }
  }

  .header-bar {
    .bar-button-default-md, .bar-button-default-ios {
      color: $color-white;
    }

  }

  //*------- END:HEADER -----*//

  //*------- START:LOGIN-CONTENT -----*//
  .login-content {

    .submit-btn {
      background: $color-main;
    }

    .button-ios-secondary, .button-md-secondary, .button-md-secondary:hover:not(.disable-hover) {
      background: $color-button;
    }

    input {
      border: 1px solid $color-white;
      color: $color-white;
      background: $color-input;
    }

    input::placeholder {
      color: $color-white;
    }

    .password-icon {
      color: $color-white;
    }

    .logo ion-icon {
      color: $color-white;
    }

    .toolbar-background {
      background: $color-white;
    }

    .text-input {
      border: 1px solid $color-border-input;
      background:$color-input;
      color:$color-white;
    }

    .label-ios{
      color: $color-label;
    }
  }
  //*------- END:LOGIN-CONTENT -----*//

  //*------- START:CONTENT -----*//

  .content {

    .chip-ios{
    
        label{
            color:$color-white;
        }
    }

    .border-right{
      border-right: 1px solid $color-row-border;
    }

    .datetime-ios{
      background: $color-input;
      border:1px solid $color-border-input;
      color:$color-white;
    }

    .radio-ios{

      .radio-icon{
        border-color: $color-white;
      }
    } 

    .label-ios{
      color:$color-white;
    }

    .item-ios{
      background:$color-main;
      color:$color-white;
    }

    .select-icon {
      .select-icon-inner{
        color:$color-white;
      }
    }
  
    .toggle-ios.toggle-checked .toggle-icon{
      background: $color-button;
    }

    musteri-bilgileri{
      .button-ios{
        background: $color-input;
        border: 1px solid $color-border-input;
        color:$color-white;
      }
    }

    .segment-button{
      border: 1px solid $color-white;
      color:$color-white;
    }

    .label-ios-primary{
      color:$color-white;
    }

    .text-color a, .adres-box{
      color:$color-white;
    }

    .row-border{
      border-bottom: 1px solid $color-row-border;
    }

    .card-ios{
      background-color:$color-main;
      box-shadow: 4px 4px $color-header;

      p{
        color:$color-white;
      }
    }
    .toolbar-background-ios {
      background: inherit;
    }

    .button-ios {
      background-color:$color-button;
    }

    .text-input-ios {
      border: 1px solid $color-border-input;
      background: $color-input;
      color:$color-white;
    }

    .searchbar-ios .searchbar-input, .searchbar-md .searchbar-input {
      border: 1px solid $color-light;
      background: $color-input;
      color:$color-white;
    }

    .button-md-downloaded, .button-ios-downloaded {
      color: $color-white;
      background-color: $color-downloaded;
      border:1px solid $color-border-input;
    }

    .button-md-notDownloaded {
      background-color: $color-main;
    }

    .text-input-ios, .text-input {
      border: 1px solid $color-border-input;
      background: $color-input;
      color:$color-white;
    }

    .toolbar-title-md, .toolbar-title-ios {
      color: $color-white;

    }

    .searchbar-ios .searchbar-input {
      border: 1px solid $color-main;
      background: $color-input;
      color:$color-white;
    }

    .select-md {
      border: 1px solid $color-light;
    }

    .item-select .label-md {
      color: $color-main;
    }

    textarea.text-input {
      border: 1px solid $color-border-input;
    }

    .select-ios {
      border: 1px solid $color-border-input;
      background: $color-input;
      color:$color-white;
    }

    .segment-ios .segment-button.segment-activated {
      box-shadow: 5px 2px 15px 0px $color-main;
      background-color: $color-button;
    }

    .gray-box {
      background: $color-gray;
    }

    .button-ios-secondary, .button-md-secondary, .button-md-secondary:hover:not(.disable-hover) {
      background: $color-button;
    }

    .card-box1 {
        background: $color-card-box-dark;
        border:1px solid $color-button;
        color:$color-white;
    }

    .card-box {
      background: $color-main;
      border: 1px solid $color-light;

      i {
        color: $color-white;
      }
      label{
        color:$color-white;
      }
    }

    .item-input .label-md, .item-datetime .label-md {
      color: $color-main;
    }

    .main-tabs {
      .toolbar-background-md {
        background: $color-white;
      }

      .segment-md .segment-button {
        border: 1px solid $color-white;
        color:$color-white;
        opacity: 1;
      }

    }
  }
  //*------- END:CONTENT -----*//

  //*------- START:HOME-CONTENT -----*//
  .home-content {

    .item-ios{
      background-color: $color-item;
    }

    .icon-ios {
      color: $color-white;
    }

    .label {
      color: $color-white;
    }
  }
  //*------- END:HOME-CONTENT -----*//

  .announcements, .bar-announcements {
    background: $color-red;
    color: $color-white;
  }

  .segment-button.activated, .segment-button.segment-activated {
    border-color: $color-main;
    background: $color-button;
    color: $color-white;
  }

  .searchbox .searchbar-md .searchbar-input {
    border: 1px solid $color-main;
    background: $color-input;
    color:$color-white;
  }

  
//*------- START:FOOTER -----*//
.footer {
  .item-ios{
    background: $color-header;
  }

  background:$color-header;
  border-top:1px solid $color-row-border;
  
  .toolbar-background-ios {
    background-color: $color-button;
  }


  .label {
    color: $color-white;
  }

  .button-ios-light, .button-md-light {
    color: $color-white;
    background-color:inherit;
  }

  .select-md, .select-ios {
    color: $color-white;
  }

}

//*------- END:FOOTER -----*//
}


.msj-info {
  background: blue;
}

.msg-success {
  background: green;
}

.msj-warn {
  background: orange;
}

.msj-error {
  background: red;
}
