<ion-header>

  <ion-navbar>
    <button ion-button primary menuToggle>
      <ion-icon name="list"></ion-icon>
    </button>
    <icon-header></icon-header>
    <ion-title class="page-title">Ana Sayfa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    If you get lost, the
    <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>

<ion-footer>
  <ion-item float-left style="width: 40%">
    <ion-label>SISTEK© 2018</ion-label>
  </ion-item>
  <ion-item float-right style="width: 60%">
    <ion-label>Servis Otomasyon Sistemi</ion-label>
  </ion-item>
</ion-footer>
