<ion-grid>
  <ion-row style=" display: inline-block;">

    <div float-left>
      <ion-buttons>
        <button ion-button item-left icon-only (click)="sayfayaGit('CagrilarPage',{})">
          <ion-icon name="list-box"></ion-icon>
          {{cagriSayisi}}
        </button>

        <button ion-button icon-only (click)="sayfayaGit('BildirimlerPage',{type:'WARN'})">
          <ion-icon name="volume-up"></ion-icon>
          {{duyuruSayisi}}
        </button>

        <button ion-button icon-only (click)="sayfayaGit('BildirimlerPage',{type:'URGENT'})">
          <ion-icon name="notifications"></ion-icon>
          {{uyariSayisi}}
        </button>

        <button ion-button icon-only (click)="sayfayaGit('GuncellemePage',{})">
          <ion-icon name="refresh"></ion-icon>
          {{guncellemeSayisi}}
        </button>
      </ion-buttons>
    </div>

    <div float-right>
      <ion-buttons>
        <button ion-button icon-only (click)="sayfayaGit('Anasayfa',{})">
          <ion-icon name="home"></ion-icon>
        </button>

        <button ion-button icon-only (click)="closeApplicationConfirm()">
          <ion-icon name="exit"></ion-icon>
        </button>
      </ion-buttons>
    </div>

  </ion-row>
</ion-grid>
