<!-- Generated template for the HeaderComponent component -->

<ion-grid>
  <ion-row>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="list-box"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="volume-up"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-row>

  <ion-row>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>

  </ion-row>
</ion-grid>
