.home-content, .footer{
    .label{
        font-size: 16px;
    }
}

.content{
    .label-md {
        margin: 20px 0px 0px 0px;
      }

      .detay .label-md{
          margin: 0px;
      }
      
      .label-ios{
          margin-bottom: 0px;
      }

      .list-md .label-md, .versiyon .label-md{
          margin-top: 0px;
      }
}