.content{
    .select-md{
        padding: 8px;
        padding-left: 15px;
        font-size: 14px;
        max-width: 100%;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 14px;
    }

    .select-md .select-icon {
        width: 20px;
      }
      
    .select{
        border-radius: 25px;
        padding: 10px;
        padding-left: 15px;
        text-align: left;
        font-size: 14px;
        max-width: 100%;
        margin-top: 10px;
    
        .select-icon{
          margin-right: 10px;
          
        }
      }

}