//*--------------------- START:IOS CSS ---------------------*//
@media only screen and (max-width: 500px) {
  .content {

    ion-label.radio-btn{
      margin-top: 10px;
    }

    .toggle-btn{
      margin-top: 10px;
    }

    .toolbar-ios .segment-ios{
      position: inherit;
    }

    .card-content-ios, .card-content-md{
      font-size: 15px;
    }

    .item-md{
      background: none;
    }

    .item-ios .item-button{
      height: 30px;
    }

    .text-input-ios {
      width: 100%;

    }

    .searchbar-ios{
      background: inherit;
      .searchbar-input{
        height: 35px;
      }

    }

    .select-ios {
      border-radius: 25px;
      padding: 8px;
      padding-left: 15px;
      text-align: left;
      font-size: 14px;
      max-width: 100%;
      margin-top: 10px;
      width: 100%;

      .select-icon {
        margin-right: 10px;
      }
    }

    .detay .button-ios{
      padding-bottom: 12px;
    }

    .button-ios{
      margin: 0px;
    }

    .announcements {
      top: -5px;
    }

    .login-box {
      .item-ios ion-icon[item-end] {
        margin-left: -40px;
      }
    }

    .list-ios > .item-block:first-child {
      border-top: inherit;
    }

    .list-ios > .item-block:last-child {
      border-bottom: inherit;
    }

    .gray-box .item-ios {
      background-color: inherit;
    }

    .list-ios[inset] .item {
      border-bottom: 0px;
    }

    .button-ios .label-ios {
      margin-top: 10px;
      padding-top: 0;
    }

    .toolbar-ios .segment-button {
      white-space: inherit;
      height: 47px;
      padding-top: 5px;
      line-height: 15px;
      border-radius: 5px;
    }

    .toolbar-ios {
      min-height: 50px;
    }


    .main-tabs {
      .seg-button{
        height: 30px!important;
      }

      .segment-button {
        height: 40px;
        margin-right: 10px;
      }
      .segment-ios .segment-button:last-of-type{

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    .segment-ios
    {
      .segment-button:not(:first-of-type){
        border-left-width:1px;
      }

      .segment-button:first-of-type, .segment-ios .segment-button:last-of-type {
        border-radius: 5px;
        margin-right: 10px;
      }
    }
    .button-ios {
      height: 35px;
      margin-bottom: 15px;

    }

    .label-ios {
      padding-top: 10px;
    }

  }

  .header-bar .bar-announcements{
    font-size: 13px;
  }

}

.header {
  .tabs-ios .tab-button.icon-only {
    min-height: 43px;
  }

  .toolbar-ios ion-title {
    padding: 0px;
  }

}

.footer {

  bottom:-1px;

  .toolbar-background-ios {
    bottom:-1px;
  }

  .button-ios-light {
    float: left;
  }

  .item-ios {
    width: 53%;
    float: left;
    margin-top: 5px;
  }

  ion-select {
    max-width: 60%;
  }

  .select-ios {
    padding: 11px 14px 8px 35px;
  }
}

//*--------------------- END:IOS CSS ---------------------*//

.mb-20 {
  margin-bottom: 20px;
}

.announcements {
  border-radius: 100%;
  font-size: 12px;
  top: 5px;
  position: absolute;
  z-index: 999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  right: 0px;
}


.header-bar{
  .bar-button-md[icon-only] ion-icon{
  font-size: 35px;
}
.bar-button-ios[icon-only] ion-icon{
  font-size: 25px;
}

}

.bar-button-md {
  width: 90px;
}

.bar-announcements {
  border-radius: 100%;
  font-size: 15px;
  top: -10px;
  position: relative;
  z-index: 999;
  text-align: center;
  line-height: 18px;
  right: 0px;
  padding: 3px 8px;
  display: inline-block;
}


.pull-right {
  float: right;
  text-align: right;
}

.pull-left {
  float: left;
  text-align: left;
}

hizmet-bilgileri, musteri-bilgileri, urun-bilgileri, servis-bilgileri, detay-bilgileri, garanti-sorgu {
  .item-inner.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, item, .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 0px;
  }
}

.w-15 {
  width: 15%;
}

.w-17 {
  width: 17%;
}

.w-70 {
  width: 70%;
}

.w-68 {
  width: 68%;
}

//*------- START:HEADER -----*//
.header {

  button.disable-hover.bar-button.bar-button-ios.bar-button-default.bar-button-default-ios {
    border-radius: 100%;
    font-size: 12px;
    width:50px;
    height: 35px;
    text-align: center;
    margin-left: 7px;
  }

  .close-icon {
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  .tabbar {
    opacity: 1;
  }

}

//*------- END:HEADER -----*//

//*------- START:HOME-CONTENT -----*//
.home-content {

  .label-ios, .label-md{
    margin-bottom: 15px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0px;
  }

  .grid {
    margin-top: 15%;
    padding: 15px;
  }

  .card {
    border-radius: 5px;
    padding: 5px;
  }

  .card-ios {
    margin: 0px 0px 10px 0px;
    width: 100%;
  }

  .bar-buttons {
    border-radius: 100%;
    position: absolute;
    z-index: 999;
    width: 38px;
    height: 35px;
    text-align: center;
  }

  .icon-box, .text-box {
    text-align: center;

    .icon {
      font-size: 40px;
    }

    span {
      font-size: 20px;
    }
  }
}

//*------- END:HOME-CONTENT -----*//

//*------- START:CONTENT -----*//

.content-background {
  /*background-image: url("../../assets/eca/login/login-background.jpg");*/
  background-repeat: no-repeat;
}

.content {

  .radio-btn{
    margin-top: 22px;
  }

  .toggle-btn{
    margin-top: 10px;
  }

  .button-md, .button-ios{
    text-transform: inherit;
  }

  .button-round-md{
    margin-bottom: 10px;
  }

  .radio-ios .radio-icon{
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
  }
  .modal-title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
  }

  .searchbar-md,.searchbar-ios{
    margin-bottom: 20px;
  }

  .toolbar-title-md, .toolbar-title-ios {
    font-weight: 600;
  }

  .toolbar {
    .searchbar-ios .searchbar-input, .searchbar-md .searchbar-input {
      height: 35px;
    }

  }

  .item-md {
    padding-left: 0px;

    .item-button {
      height: 35px;
    }
  }

  .fiyat-sorgu .select-md {
    width: 75%;
  }

.mr-icon{
  margin-right: 10px;
}

.list .button-md{
  text-transform: inherit;
}

  .toolbar-title {
    margin-bottom: 10px;
  }

  .item.item-block .item-inner {
    border-bottom: 0px;
  }

  .scroll-content {
    padding: 16px;
  }


  .card-box {
    padding: 15px;
    margin: 0px;
    width: 100%;

    i {
      font-size: 15px;
      margin-right: 5px;
    }

    label, p {
      line-height: 22px;
    }

    .call-date {
      float: right;
      font-size: 12px;
    }
  }

  .gray-box {
    padding: 10px;
  }

}

//*------- END:CONTENT -----*//

//*------- START:LOGIN-CONTENT -----*//
.login-content {

  .submit-btn {
    border-radius: 25px;
  }

  .item-md {
    background: none;
    padding-left: 0px;
  }

  .item-block {
    background: none;
  }

  .login-box {
    margin-top: 5%;
  }

  .password-icon {
    position: relative;
    display: block;
    padding-right: 15px;
    font-size: 20px;
    padding-top: 3px;
  }

  .item-md ion-icon[item-end] {
    margin-left: -35px;
  }

  .list-md .item-input:last-child {
    border-bottom: none;
  }

  .item-md.item-block .item-inner {
    padding-right: 0px;
  }

  .logo {
    font-size: 80px;
    text-align: center;
  }

}

//*------- END:LOGIN-CONTENT -----*//



//*------- START:FOOTER-CONTENT -----*//
.footer{
  .select-md{
    max-width: 25%;
    margin-left: 35%;
  }

  .select-ios{
    margin-top: 5px;
  }
}

//*------- END:FOOTER-CONTENT -----*//
