<!-- Generated template for the UrunBilgileriComponent component -->
<ion-grid>
  <ion-row>
    <ion-col col-sm-12 col-md-6 col-lg-3 col-xl-3>
      <button ion-button icon-start full round (click)="urunListesiniGetir()" [disabled]="isHizmetDisabled()">
        <ion-icon name="list"></ion-icon>
        Ürün Seç
      </button>
    </ion-col>
    <ion-col col-sm-12 col-md-6 col-lg-3 col-xl-3>
      <button ion-button icon-start full round (click)="urunSil()" [disabled]="isHizmetDisabled()">
        <ion-icon name="trash"></ion-icon>
        Ürün Sil
      </button>
    </ion-col>
    <ion-col col-sm-12 col-md-6 col-lg-3 col-xl-3>
      <button ion-button icon-start full round (click)="urunAnaGrupDegistir()" [disabled]="isHizmetDisabled()">
        <ion-icon name="refresh"></ion-icon>
        Ürün Ana Grup Değiştir
      </button>
    </ion-col>
    <ion-col col-sm-12 col-md-6 col-lg-3 col-xl-3>
      <button ion-button icon-start full round (click)="garantiSorgula()">
        <ion-icon style="width: 5%" name="help"></ion-icon>
        Garanti Sorgula
      </button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-row class="urun-bilgileri">
  <ion-col col-4 col-md-2>
    <ion-label color="primary">Ürün Ana Grubu</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-input [(ngModel)]="mamAnaGrpValue" readonly></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label color="primary">Ürün Kodu</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-input [(ngModel)]="hizmet.mamKod" readonly></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label color="primary">Ürün Adı</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-input [(ngModel)]="hizmet.mamAdi" readonly></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label color="primary">Seri No</ion-label>
  </ion-col>
  <ion-col col-5 col-md-10>
    <ion-input [(ngModel)]="hizmet.mamSeriNo" [disabled]="isHizmetDisabled()"></ion-input>
  </ion-col>
  <ion-col col-3 col-md-12>
    <button ion-button icon-start full round (click)="seriNoSorgula()" [disabled]="isHizmetDisabled()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label color="primary">Fatura Tarihi</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-datetime [(ngModel)]="hizmet.sattar" [disabled]="isHizmetDisabled()" (ionChange)="faturaTarihiChange()" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label color="primary">Garanti</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-toggle [(ngModel)]="hizmet.garanti" (ionChange)="garantiChange()" color="secondary"></ion-toggle>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label color="primary">Meşguliyet</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-toggle [(ngModel)]="hizmet.mesguliyet" (ionChange)="mesguliyetChange()" color="secondary"></ion-toggle>
  </ion-col>
</ion-row>
