<!-- Generated template for the UrunBilgileriComponent component -->
<ion-grid>
  <ion-row>
    <ion-col col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3>
      <button ion-button icon-start full round (click)="urunListesiniGetir()" [disabled]="isHizmetDisabled()">
        <ion-icon name="list"></ion-icon>
        Ürün Seç
      </button>
    </ion-col>
    <ion-col col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3>
      <button ion-button icon-start full round (click)="urunSil()" [disabled]="isHizmetDisabled()">
        <ion-icon name="trash"></ion-icon>
        Ürün Sil
      </button>
    </ion-col>
    <ion-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3>
      <button ion-button icon-start full round (click)="urunAnaGrupDegistir()" [disabled]="isHizmetDisabled()">
        <ion-icon name="md-refresh"></ion-icon>
        Ürün Ana Grup Değiştir
      </button>
    </ion-col>
    <ion-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3>
      <button ion-button icon-start full round (click)="garantiSorgula()">
        <ion-icon name="md-search"></ion-icon>
        Garanti Sorgula
      </button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-row class="urun-bilgileri">
  <ion-col col-4 col-md-2>
    <ion-label>
      <strong>Ürün Ana Grubu:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-input [(ngModel)]="mamAnaGrpValue" readonly></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label>
      <strong>Ürün Kodu:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-input [(ngModel)]="hizmet.mamKod" readonly></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label>
      <strong>Ürün Adı:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-input [(ngModel)]="hizmet.mamAdi" readonly></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label>
      <strong>Seri No:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-input [(ngModel)]="hizmet.mamSeriNo" (ionBlur)="saveHizmet()" [disabled]="isHizmetDisabled()"></ion-input>
  </ion-col>




  <ion-col col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6>
    <button item-left ion-button icon-start full round (click)="seriNoSorgula()" [disabled]="isHizmetDisabled()" style="margin-top:13px;">
      <span class="icon-right">
        <i item-right class="fas fa-search"></i>
      </span>
      Seri No Sorgula
    </button>
  </ion-col>
  <ion-col col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6>
    <button item-left ion-button icon-start full round (click)="scanBarcode()" [disabled]="isHizmetDisabled()" style="margin-top:13px;">
      <span class="icon-right">
        <i item-right class="fas fa-barcode"></i>
      </span>Barkod Oku
    </button>
  </ion-col>


  <ion-col col-4 col-md-2 *ngIf="seriNoSayisi != null && seriNoSayisi != 1">
    <ion-label>
      <strong>Seri No2:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-10 *ngIf="seriNoSayisi != null && seriNoSayisi != 1">
    <ion-input [(ngModel)]="hizmet.mamSeriNo2" (ionBlur)="saveHizmet()" [disabled]="isHizmetDisabled()"></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label>
      <strong>Fatura Tarihi:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-datetime [(ngModel)]="hizmet.sattar" (ionChange)="faturaTarihiChange(Constants.NERDEN.HTML)" [disabled]="isHizmetDisabled()" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-col>

  <ion-col col-4 col-md-4> 
    <ion-label>
      <strong>Garanti:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-6 col-md-6>
    <ion-label class="radio-btn" style="text-align: end;position: relative;">
      {{garanti == true ? 'VAR' : 'YOK'}}
    </ion-label>
  </ion-col>
  <ion-col col-1 col-md-2>
    <ion-toggle [(ngModel)]="garanti" (ionChange)="garantiChange(Constants.NERDEN.HTML)" class="toggle-btn"></ion-toggle>
  </ion-col>

  <ion-col col-4 col-md-4>
    <ion-label>
      <strong>Meşguliyet:</strong>
    </ion-label>
  </ion-col>
  <ion-col col-6 col-md-6>
    <ion-label class="radio-btn" style="text-align: end;position: relative;">
      {{mesguliyet == true ? 'VAR' : 'YOK'}}
    </ion-label>
  </ion-col>

  <ion-col col-1 col-md-2>
    <ion-toggle [(ngModel)]="mesguliyet" (ionChange)="mesguliyetChange(Constants.NERDEN.HTML)" class="toggle-btn"></ion-toggle>
  </ion-col>

</ion-row>
