<!-- Generated template for the HizmetBilgileriComponent component -->
<ion-list inset>
  <ion-item>
    <ion-label>Ürün Ana Grubu</ion-label>
    <ion-input type="text" [(ngModel)]="urunAnaGrup.ad" (focus)="urunAnaGrupSorgula()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Ürün Kodu</ion-label>
    <ion-input type="text" [(ngModel)]="urun.mamKod" (focus)="urunSorgula()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Barkod Numarası</ion-label>
    <ion-input type="text" [(ngModel)]="barkodNo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fatura Tarihi</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="faturaTarihi" required></ion-datetime>
  </ion-item>

  <ion-item>
    <button ion-button icon-end [color]="primary" (click)="garantiSorgula();" round full>
      Garanti Sorgula
      <span item-right>
        <ion-icon name="help"></ion-icon>
      </span>
    </button>
  </ion-item>



</ion-list>