<!-- Generated template for the HizmetBilgileriComponent component -->
<ion-list inset>
  <ion-item>
    <ion-label>Ürün Ana Grubu</ion-label>
    <ion-input type="text" [(ngModel)]="urun.ad" (focus)="urunAnaGrupSorgula()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Ürün Kodu</ion-label>
    <ion-input type="text" [(ngModel)]="urun.mamKod" (focus)="urunSorgula()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Barkod Numarası</ion-label>
    <ion-input type="text" [(ngModel)]="barkodNo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fatura Tarihi</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="faturaTarihi"></ion-datetime>
  </ion-item>



</ion-list>
