<ion-header>
  <ion-navbar>
    <ion-row class="modal-title">
      <ion-col col-10 col-md-10>
        <ion-title>Yazdırmak için seçiniz.</ion-title>
      </ion-col>
      <ion-col col-2 col-md-2>
        <ion-icon name="close" (click)="closeModal()" class="pull-right close-icon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>
<ion-content class="content" [ngStyle]="{ 'background-image': 'url(' + backGroundImage + ')' }">
  <!-- Generated template for the ListComponent component -->
  <div>
    <ion-list>
      <button ion-item *ngFor="let item of printerList" (click)="yazdir(item) ">
        {{ item }}
      </button>
    </ion-list>
  </div>

</ion-content>


<ion-footer>

</ion-footer>