<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="login-container">
    <img class="logo" src="assets/img/logo/logo-canon.png" />
    <form (submit)="doLogin()">
      <strong>Login:</strong>
      <ion-item>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <button ion-button margin color="danger">LOGIN</button>
    </form>
  </div>
</ion-content>
