<ion-toolbar class="main-tabs">
  <ion-segment [(ngModel)]="activePage" style="padding-top: 10px;">
    <ion-segment-button value="servis">
      İşlem Tarihleri
    </ion-segment-button>

    <ion-segment-button value="tarihce">
      Tarihçe Bilgisi
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="activePage">
    <div *ngSwitchCase="'servis'">
      <islem-tarih></islem-tarih>
    </div>

    <div *ngSwitchCase="'tarihce'">
      <servis-islem-tarihce></servis-islem-tarihce>
    </div>
  </div>