<div>

  <ion-list inset>
    <ion-item>
      <ion-label color="primary" floating>Randevu Tarihi</ion-label>

    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Çağrı Açılış Tarihi</ion-label>

    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Hizmet Tipi</ion-label>

    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Ürün Ana Grubu</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Başvuru Nedeni</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Hizmet Formu No</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Durum</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Çağrı No</ion-label>
    </ion-item>

  </ion-list>

</div>
