<!-- Generated template for the HizmetBilgileriComponent component -->
<ion-list inset>

  <ion-item *ngIf="islemTipi != 'ISC' && islemTipi != 'MLZ'">
    <ion-label>Önce işlem tipini seçiniz</ion-label>
  </ion-item>

  <ion-item>
    <ion-select [(ngModel)]="islemTipi" interface="popover">
      <ion-option value="" selected="true"></ion-option>
      <ion-option value="ISC">İşçilik</ion-option>
      <ion-option value="MLZ">Malzeme</ion-option>
    </ion-select>

  </ion-item>

  <ion-item *ngIf="islemTipi != '' && islemTipi=='ISC'">
    <ion-label>Ürün ana Grubu</ion-label>
    <ion-input type="text" [(ngModel)]="urunAnaGrup.ad" (focus)="urunAnaGrupSorgula()"></ion-input>
  </ion-item>

  <ion-item *ngIf="islemTipi == 'ISC' || islemTipi == 'MLZ'">
    <ion-label>Ürün Kodu</ion-label>
    <ion-input type="text" [(ngModel)]="urun.mamKod" (focus)="urunSorgula()"></ion-input>
  </ion-item>

  <ion-item *ngIf="islemTipi != '' && islemTipi=='ISC'">
    <ion-label>Ürün İşçilik</ion-label>
    <ion-input type="text" [(ngModel)]="urunIscilik.iscAdi" (focus)="urunIscilikSorgula()"></ion-input>
  </ion-item>

  <ion-item>
    <button ion-button icon-end [color]="primary" (click)="fiyatSorgula();" round full>
      Fiyat Sorgula
      <span item-right>
        <ion-icon name="help"></ion-icon>
      </span>
    </button>
  </ion-item>

</ion-list>