<!-- Generated template for the HizmetBilgileriComponent component -->

<ion-row>
  <ion-col col-12 *ngIf="islemTipi=='' || islemTipi==null ">
    <ion-label color="primary">Önce işlem tipini seçiniz</ion-label>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label color="primary">Işlem Tipi</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-select [(ngModel)]="islemTipi" interface="popover" (ionChange)="IslemTipiChange()">
      <ion-option value="" selected="true"></ion-option>
      <ion-option value="ISC">İşçilik</ion-option>
      <ion-option value="MLZ">Malzeme</ion-option>
    </ion-select>
  </ion-col>

  <ion-col col-4 col-md-2 *ngIf="islemTipi != '' && islemTipi=='ISC'">
    <ion-label color="primary">Ürün ana Grubu</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10 *ngIf="islemTipi != '' && islemTipi=='ISC'">
    <ion-input type="text" [(ngModel)]="urunAnaGrup.ad" (focus)="urunAnaGrupSorgula()"></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2 *ngIf="islemTipi == 'ISC' || islemTipi == 'MLZ'">
    <ion-label color="primary">Ürün Kodu</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10 *ngIf="islemTipi == 'ISC' || islemTipi == 'MLZ'">
    <ion-input type="text" [(ngModel)]="urun.mamKod" (focus)="urunSorgula()"></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2 *ngIf="islemTipi != '' && islemTipi=='ISC'">
    <ion-label color="primary">Ürün İşçilik</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10 *ngIf="islemTipi != '' && islemTipi=='ISC'">
    <ion-input type="text" [(ngModel)]="urunIscilik.iscAdi" (focus)="urunIscilikSorgula()"></ion-input>
  </ion-col>

  <ion-col col-4 col-md-2 *ngIf="islemTipi != '' && islemTipi=='ISC'">
    <ion-label color="primary">Ürün İşçilik</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10 *ngIf="islemTipi != '' && islemTipi=='ISC'">
    <ion-input type="text" [(ngModel)]="urunIscilik.iscAdi" (focus)="urunIscilikSorgula()"></ion-input>
  </ion-col>

  <ion-col col-sm-12 col-md-6 col-lg-3 col-xl-3>
    <button ion-button icon-start full round (click)="fiyatSorgula();">
      <ion-icon name="md-help"></ion-icon>
      Fiyat Sorgula
    </button>
  </ion-col>
</ion-row>

<ion-row *ngIf="fiyat.fiyat != null">
  <ion-col col-4 col-md-2>
    <ion-label color="primary">(KDV Dahil) Garanti Fiyat</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-label>{{fiyat.fiyat}}</ion-label>
  </ion-col>

  <ion-col col-4 col-md-2>
    <ion-label color="primary">(KDV Dahil) Garanti Dışı Fiyat</ion-label>
  </ion-col>
  <ion-col col-8 col-md-10>
    <ion-label>{{fiyat.gdFiyat}}</ion-label>
  </ion-col>

</ion-row>
