<ion-header class="header-content">
  <ion-navbar hideBackButton="true">
    <icon-header #header></icon-header>
  </ion-navbar>
</ion-header>

<ion-content class="content cagri-content">

  <ion-title class="page-title">{{title}}</ion-title>

  <ion-row class="mb-20">
    <ion-col col-6 col-6 col-sm>
      <button ion-button id="btnCagriSorgu" round full cgrArama (click)="cagriSorgula();" color="secondary">Sorgula
      </button>
    </ion-col>
    <ion-col col-6 col-6 col-sm>
      <button ion-button id="btnCagriGuncelle" round full cgrGuncelle (click)="cagriGuncelle();" color="secondary">
        Güncelle
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="this.searchParams != ''">
    <ion-chip *ngFor="let sorgu of searchParams">
      <ion-label>{{sorgu}}</ion-label>
    </ion-chip>
  </ion-row>

  <ion-card *ngFor="let cagri of cagrilar" (click)="cagriDetayinaGit($event, cagri.seqNo)" class="card-box">
    <label>
      <strong>
        <i class="fas fa-user"></i>
        {{cagri.adi }} {{cagri.soyadi}} ({{cagri.seqNo}}) - ({{cagri.crmNo}})
      </strong>
    </label>
    <p>
      <i class="fas fa-cog"></i>
      {{cagri.mamAnaGrpAdi}} | {{cagri.hizmetTipiAdi}} | {{cagri.basvuruNedenAdi}}
    </p>
    <p>
      <i class="fas fa-phone"></i>{{cagri.gsmNo}} | {{cagri.evTel}} | {{cagri.evTel}}
    </p>
    <p class="call-date">
      <i class="far fa-clock"></i> {{cagri.randevuTarihi | date: 'dd-MM-yyyy HH:mm'}} </p>
    <p>{{cagri.Adres}}</p>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col col-4 col-md-2>
      <button ion-button color="light" (click)="fetchList('FIRST')">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
      <button ion-button color="light" (click)="fetchList('PREVIOUS')">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4 col-md-8>
      <ion-select [(ngModel)]="pageable.pageSize" (ionChange)="fetchList('PAGE_NO')" interface="popover">
        <ion-option value="10" selected="true">10</ion-option>
        <ion-option value="20">20</ion-option>
        <ion-option value="50">50</ion-option>
      </ion-select>
    </ion-col>
    <ion-col col-4 col-md-2>
      <button ion-button color="light" (click)="fetchList('NEXT')">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <button ion-button color="light" (click)="fetchList('LAST')">
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-col>

  </ion-row>


</ion-footer>