<ion-header>
  <ion-navbar>
    <ion-row class="modal-title">
      <ion-col col-11 col-md-11>
        <ion-title>Mesaj Detayı</ion-title>
      </ion-col>
      <ion-col col-1 col-md-1>
        <ion-icon name="close" (click)="closeModal()" class="pull-right close-icon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content [ngStyle]="{ 'background-image': 'url(' + backGroundImage + ')' }">

  <ion-card class="card-box">
    <ion-row class="row-border">
      <ion-col col-4 class="border-right">
        <ion-label>
          <strong>Gönderen:</strong>
        </ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-label>{{mesaj.gonderen}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row-border">
      <ion-col col-4 class="border-right">
        <ion-label>
          <strong>Konu:</strong>
        </ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-label>{{mesaj.subject}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row-border">
      <ion-col col-4 class="border-right">
        <ion-label>
          <strong>Mesaj:</strong>
        </ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-label> {{mesaj.aciklama}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>


</ion-footer>